* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.052);
    width: 100%;
    position: fixed;
    z-index: 2;
}

.divp1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 30px;
    font-size: 20px;
    width: 50%;
    border-radius: 5px;
}

.div1 {
    background-color: rgb(165, 176, 172);
    padding: 10px;
    border-radius: 4px;
}

.div5 {
    background-color: rgb(80, 70, 70);
    padding: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.divico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.div2{
    padding: 10px;
    border-radius: 5px;
}
.div2:hover{
    background-color: #3c3e40;
}
.texto {
    position: relative;
    display: inline-block;
    margin-top: 15rem;
    margin-right: 50rem;
    padding: 20px;
    z-index: 1;
    color: #fff;

    && h2 {
        font-size: 48px;
        margin-bottom: 25px;
    }

    && h6 {
        font-size: 25px;
    }

    && input {
        border-radius: 15px;
        height: 35px;
        width: 25rem;
        border: none;
        padding-left: 19px;
        z-index: 1;
        outline: none;
    }

    && button {
        border: none;
        background-color: rgb(26, 25, 25);
        height: 35px;
        width: 6rem;
        border-radius: 15px;
        cursor: pointer;
        position: absolute;
        left: 400px;
        color: #fff;
    }

    && button:hover {
        background-color: rgb(73, 72, 72);
    }

    && p {
        font-size: 17px;
        margin-bottom: 20px;
    }
}

.img1 {
    position: relative;
    display: inline-block;
    left: 64rem;
    top: -26rem;
    z-index: 1;
    overflow-x: visible;

    && img {
        display: block;
        border-radius: 25px;
    }

    && .precio {
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: rgb(27, 20, 20);
        color: #fff;
        border-radius: 25px;
        font-size: 22px;
        padding: 5px 10px;
    }

    && .oferta {
        position: absolute;
        left: -25px;
        bottom: -25px;
        border-radius: 50%;
        background-color: #460106;
        font-size: 28px;
        color: #fff;
        width: 100px;
        height: 100px;
        text-align: center;
        padding-top: 33px;
    }
}

.banner {
    position: absolute;
    z-index: 1;
    background-color: rgb(82, 86, 85);
    border-radius: 0px 0px 150px 150px;
    background-size: cover;
    width: 100vw;
    height: 130vh;
    overflow: hidden;
}

.fondo1 {
    position: relative;
    background-color: black;
    width: 90vw;
    height: 195vh;
    left: -30rem;
    top: -19rem;
    border-radius: 60%;

}

.fondo2 {
    position: absolute;
    z-index: -1;
    background-color: rgb(55, 53, 53);
    width: 95vw;
    height: 200vh;
    left: -10rem;
    top: -19rem;
    border-radius: 50%;

}

.servicios{
    position: relative;
    top: -20rem;
    left: -7rem;
    z-index: 2;
    background-color: rgba(120, 32, 32, 0.166);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 5px;
}
.srvc1{
    padding: 35px;
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
    width: 22vw;
    height: 30vh;
    overflow: hidden;
    && div{
        width: 90px;
        height: 85px;
        display: inline-block;
        text-align: center;
        background-color: #3c3e40;
        border-radius: 50%;
    }
    && img{
        padding-top: 20px;
    }

    && h2{
        padding-top: 19px;
        font-size: 18px;
    }
}

